<main class="tariffs">
  <div class="container container__tariffs">
    <h2 class="tariffs_title">Тарифы и продукты</h2>
    <div class="tariffs__tickets">
      <div class="tariffs__ticket">
        <div class="tariffs__ticket_position" *ngFor="let ticket of tickets; let i = index">
          <div class="tariffs__ticket_position_top">
            <img src="http://127.0.0.1:8188/storage/uploads/tickets/{{ticket.image_url}}" class="tariffs__ticket_img" alt="Тариф единый">
            <div class="tariffs__ticket__description">
              <h4 class="tariffs__ticket__description_title">{{ ticket.name }}</h4>
              <p class="tariffs__ticket__description_text">{{ ticket.description }}</p>
            </div>
          </div>
          <div class="tariffs__ticket_button">
            <button class="tariffs__ticket_button_text" routerLink="/app-tariff-details-page">Купить</button> <!-- как сделать переход по id на разные страницы; если доступна одна, то переход сделать на страницу по умолчанию -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
