<h2 class="main-history_title">История проездов</h2>
<button class="main-history__filter-button">
  <p class="main-history__filter-button_p">Фильтр</p>
  <i class="fas fa-angle-down angle"></i> <!-- С помощью JS будет меняться иконка -->
</button>
<div class="main-history__days" id="history__days">
  <div class="main-history__days__day" id="history__day">
    <p class="main-history__days__day_title">Сегодня</p>
    <div class="main-history__carts">
      <div class="main-history__cart" *ngFor="let history of history; let i = index;">
        <div class="main-history__cart_station">
          <span class="main-history__cart_title">{{ history.place_name }}</span>
          <span class="main-history__cart_price">{{ history.price }}&#8381;</span>
        </div>
        <p class="main-history__cart_date">{{ history.created_at }}</p> <!--  -->
        <span>
          <p class="main-history__cart_cart-name" >{{history.place_name}}</p>
          <p class="main-history__cart_cart-number">{{history.id}}</p>
        </span>
      </div>
    </div>
  </div>
</div>
