<div class="filter" xmlns="http://www.w3.org/1999/html">
  <h2 class="filter_h2">Фильтр</h2>
  <div class="filter__date">
    <div class="filter__date__title filter__title">
      <h3 class="filter__date__title_h3">Дата поездки</h3>
      <button class="filter__button" (click)="toShowDate()">
        <p class="filter__button_name">{{toggleDate}}</p>
        <img src="{{icon}}" alt="angle-up">
      </button>
    </div>
    <div class="filter__date__calendar" *ngIf="date">
      <p class="filter__date__calendar_name">Дата проезда</p>
      <button class="filter__date__calendar__button">
        <p class="filter__date__calendar__button_p">__.__.____</p>
        <img src="../../../../../../assets/images/calendar.svg" alt="calendar">
      </button>
    </div>
  </div>
  <div class="filter__owner">
    <div class="filter__owner__title filter__title">
      <h3 class="filter__title_h3">Носитель</h3>
      <button class="filter__button" (click)="toShowCard()">
        <p class="filter__button_name">{{toggleCard}}</p>
        <img src="{{iconCard}}" alt="angle-up">
      </button>
    </div>
    <app-loader></app-loader>
    <div class="filter__owner__carts" *ngIf="card">
      <div class="filter__owner__carts__cart" *ngFor="let filter of filter; let i = index; ">
        <ng-template [ngIf]="i == 0 || i == 1" [ngIfElse]="second" >
          <input type="radio"  class="filter__owner__carts__cart_radio" id="filterRadio-{{i}}" name="cart-check" value="checked">
          <label for="filterRadio-{{i}}" class="filter__owner__carts__cart_content">
            <img src="../../../../../../assets/images/filter-cart-blue.svg" alt="filter-cart-img" class="filter__owner__carts__cart_img">
            <div class="filter__owner__carts__cart__data">
              <p class="filter__owner__carts__cart__data_name">{{filter.name}}</p>
              <p class="filter__owner__carts__cart__data_number">{{filter.number}}</p>
            </div>
          </label>
        </ng-template>
        <ng-template #second>
          <input type="radio"  class="filter__owner__carts__cart_radio" id="filterRadio-3" name="cart-check" value="checked" disabled="disabled">
          <label for="filterRadio-3" class="filter__owner__carts__cart_content filter__owner__carts__cart_content_disabled">
              <img src="../../../../../../assets/images/filter-cart-purple.svg" alt="filter-cart-img" class="filter__owner__carts__cart_img">
              <div class="filter__owner__carts__cart__data">
                  <p class="filter__owner__carts__cart__data_name">{{filter.name}}</p>
                  <p class="filter__owner__carts__cart__data_number">{{someTitle}}</p>
              </div>
          </label>
      </ng-template>
      </div>
    </div>
  </div>
  <button class="filter__button-save">Сохранить</button>
</div>
