.filter {
  display: none;
}

@media screen and (min-width: 880px) {
  .filter {
    margin-right: 56px;
    width: 288px;
    display: block;
  }
  .filter__button {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
  }
  .filter__button_name {
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
    color: #D62828;
    font-weight: 600;
  }
  .filter_h2 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .filter__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .filter__title_h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  .filter__date {
    margin-bottom: 24px;
  }
  .filter__date__title_h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  .filter__date__calendar {
    display: flex;
    flex-direction: column;
  }
  .filter__date__calendar_name {
    padding-left: 12px;
    margin-bottom: 6px;
    font-weight: 500;
  }
  .filter__date__calendar__button {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px 0 12px;
    background: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
  }
  .filter__date__calendar__button_p {
    font-size: 14px;
    line-height: 20px;
  }
  .filter__date__calendar__button_icon {
    color: #777777;
    font-size: 16px;
  }
  .filter__owner {
    margin-bottom: 32px;
  }
  .filter__owner__title {
    margin-bottom: 16px;
  }
  .filter__owner__carts__cart {
    cursor: pointer;
  }
  .filter__owner__carts__cart_img {
    padding: 0 16px;
  }
  .filter__owner__carts__cart:hover {
    background-color: #F5F5FE;
  }
  .filter__owner__carts__cart_content {
    width: 100%;
    height: 60px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 288px;
    cursor: pointer;
  }
  .filter__owner__carts__cart_content_disabled {
    background-color: #E5E5E5;
    padding-left: 38px;
  }
  .filter__owner__carts__cart__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 194px;
  }
  .filter__owner__carts__cart__data_name {
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
    font-weight: 600;
  }
  .filter__owner__carts__cart__data_number {
    font-size: 14px;
    line-height: 20px;
    color: #777777;
  }
  .filter__owner__carts__cart__data_number_elements {
    display: flex;
    justify-content: space-between;
  }
  .filter__owner__carts__cart__data_date {
    padding-left: 20px;
  }
  .filter__owner__carts__cart_radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .filter__owner__carts__cart_radio:disabled + label:before {
    display: none;
  }
  .filter__owner__carts__cart_radio:checked + label::before {
    border-color: #D62828;
    background-color: #D62828;
    background-image: url("../../../../../../assets/images/filter-check.svg");
  }
  .filter__owner__carts__cart_radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: rgba(214, 40, 40, 0.65);
  }
  .filter__owner__carts__cart_radio:not(:disabled):active + label::before {
    background-color: rgba(214, 40, 40, 0.65);
    border-color: rgba(214, 40, 40, 0.65);
  }
  .filter__owner__carts__cart_radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
  }
  .filter__owner__carts__cart_radio:disabled + label::before {
    background-color: #e9ecef;
  }
  .filter__owner__carts__cart_radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .filter__owner__carts__cart_radio + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .filter__button-save {
    width: 100%;
    height: 52px;
    background-color: #D62828;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .filter {
    width: 289px;
    margin-right: 112px;
  }
  .filter_h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .filter__date__title_h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .filter__title {
    margin-bottom: 16px;
  }
  .filter__title_h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .filter__owner__carts__cart__data {
    min-width: 279px;
  }
}
@media screen and (min-width: 1920px) {
  .filter {
    width: 392px;
    margin-right: 138px;
  }
  .filter__owner__carts__cart__data {
    max-width: 268px;
  }
}

/*# sourceMappingURL=journeys-filtration.component.css.map */
