@font-face {
  font-family: "Futura PT";
  font-weight: bold;
  src: url("../../fonts/futura_pt_bold.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../../fonts/futura_pt_book.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT";
  font-weight: 600;
  src: url("../../fonts/futura_pt_demi.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  src: url("../../fonts/futura_pt_medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura PT Book", sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Futura PT";
  font-weight: bold;
  src: url("../../fonts/futura_pt_bold.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../../fonts/futura_pt_book.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT";
  font-weight: 600;
  src: url("../../fonts/futura_pt_demi.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  src: url("../../fonts/futura_pt_medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura PT Book", sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  height: 132px;
  margin: 24px 0 32px 0;
}
.header__header-top {
  height: 100%;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__header-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__header-left_img {
  height: 56px;
}
.header__header-left_title {
  display: none;
}
.header__header-middle {
  display: none;
}
.header__header-right__buttons {
  display: none;
}
.header__header-right_burger {
  width: 32px;
  height: 24px;
  border: none;
  background-color: rgba(0, 0, 255, 0);
  background-image: url("../../src/images/header-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header__header-right_burger:hover {
  color: #0000ff;
  background-image: url("../src/images/Group_26.svg");
}
.header__header-button {
  padding: 0 16px 0 17px;
  width: 155px;
  height: 44px;
  background: rgba(214, 40, 40, 0.16);
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
}
.header__header-button_text {
  padding-left: 13px;
  font-size: 14px;
  line-height: 20px;
  color: #D62828;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  .header {
    height: 132px;
  }
  .header__header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__header-left_img {
    margin-right: 25px;
  }
  .header__header-left_title {
    display: flex;
    max-width: 160px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}
@media screen and (min-width: 880px) {
  .header {
    margin-top: 32px;
    height: 156px;
  }
  .header__header-top {
    height: 64px;
    margin-bottom: 48px;
  }
  .header__header-left {
    margin-right: 32px;
    flex-shrink: 0;
  }
  .header__header-left_img {
    height: 64px;
    margin-right: 56px;
  }
  .header__header-left_title {
    font-size: 18px;
    line-height: 28px;
  }
  .header__header-middle {
    margin-right: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .header__header-right__buttons {
    max-width: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__header-right__user-img {
    background-image: url(../../src/images/user-img.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
  }
  .header__header-right__user-number {
    display: none;
  }
  .header__header-right__user-name {
    display: none;
  }
  .header__header-right__log-out {
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
    color: #D62828;
    background: none;
    border: none;
    border-left: 1px solid #E5E5E5;
    padding-left: 8px;
    font-weight: 600;
  }
  .header__header-right_burger {
    display: none;
  }
  .header__contact-info {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-info__number {
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
    color: #D62828;
    font-weight: bold;
  }
  .contact-info__provider {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #777777;
  }
  .contact-info__provider_num {
    font-size: 12px;
    color: #D62828;
    font-weight: 600;
  }
  .contact-info__link {
    font-size: 12px;
    line-height: 18px;
    color: #D62828;
  }
  .contact-info__link:hover {
    text-decoration: #D62828;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    margin-top: 40px;
    height: auto;
  }
  .header__header-top {
    height: 100%;
    margin-bottom: 64px;
  }
  .header__header-left_title {
    font-size: 20px;
    line-height: 30px;
  }
  .header__header-left_img {
    height: 72px;
    margin-right: 33px;
  }
  .header__header-middle {
    margin-right: 45px;
  }
  .header__header-right__buttons {
    max-width: 258px;
  }
  .header__header-right__user-img {
    margin-right: 16px;
  }
  .header__header-right__user-number {
    display: block;
    color: #212121;
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
    font-weight: bold;
  }
  .header__header-right__user-number:hover {
    color: #D62828;
  }

  .contact-info__number {
    font-size: 18px;
    line-height: 28px;
  }
  .contact-info__provider, .contact-info__link {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .header__header-top {
    margin-bottom: 96px;
  }
  .header__header-left {
    margin-right: 0;
  }
  .header__header-left_img {
    margin-right: 40px;
    height: 81px;
  }
  .header__header-left_title {
    margin-right: 138px;
  }
  .header__header-middle {
    margin-right: 143px;
  }
  .header__header-right__buttons {
    max-width: 350px;
  }
  .header__header-right__user-img {
    background-image: url(../../src/images/user-avatar.svg);
  }
  .header__header-right__user-number {
    display: none;
  }
  .header__header-right__user-name {
    display: block;
    color: #212121;
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
  }
  .header__header-right__user-name:hover {
    color: #D62828;
  }
  .header__header-right__log-out {
    margin-left: 24px;
    padding-left: 24px;
  }
}
@font-face {
  font-family: "Futura PT";
  font-weight: bold;
  src: url("../../fonts/futura_pt_bold.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../../fonts/futura_pt_book.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT";
  font-weight: 600;
  src: url("../../fonts/futura_pt_demi.ttf") format("truetype");
}
@font-face {
  font-family: "Futura PT";
  font-weight: 500;
  src: url("../../fonts/futura_pt_medium.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura PT Book", sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.footer {
  background-color: #F5F5FE;
}
.footer__legal-information {
  margin: 32px 0 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__legal-information_copyright {
  max-width: 301px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Futura PT", sans-serif;
  font-weight: bold;
  font-weight: 600;
}
.footer__legal-information_title {
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #D62828;
}
.footer__legal-information_text {
  font-size: 14px;
  line-height: 20px;
}
.footer__legal-information_text_link {
  color: #D62828;
}
.footer__departments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}
.footer__departments__group {
  min-height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(50% - 32px);
  margin: 0 16px;
}
.footer__departments__group_3 {
  min-height: 100%;
  padding-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__departments_department_title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  text-transform: uppercase;
  font-weight: 800;
}
.footer__departments_department_title:hover {
  color: #D62828;
}
.footer__departments_department_describtion {
  font-size: 14px;
  line-height: 20px;
}
.footer__departments__apps_app {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__departments__apps_app-store {
  width: 117.92px;
  height: 38.25px;
  margin-bottom: 16px;
  background-image: url(../../src/images/app-store.svg);
}
.footer__departments__apps_google-play {
  width: 135px;
  height: 40px;
  background-image: url(../../src/images/google-play.svg);
}
.footer__logo {
  height: 48px;
  background-image: url(../../src/images/footer-logo.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-top: 26px;
  margin-bottom: 32px;
}

@media screen and (min-width: 640px) {
  .footer__departments {
    flex-direction: row;
  }
  .footer__departments__group_main {
    margin-right: 32px;
  }
  .footer__departments__group_1 {
    width: 52%;
  }
  .footer__departments__group_2 {
    width: 72%;
  }
  .footer__departments__group_3 {
    width: auto;
    padding-top: 0;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 880px) {
  .footer {
    position: relative;
  }
  .footer__legal-information {
    width: 288px;
    margin-top: 48px;
    margin-right: 32px;
    justify-content: normal;
  }
  .footer__departments {
    margin-top: 48px;
  }
  .footer__departments_department_title {
    min-width: 64px;
  }
  .footer__departments_department_description {
    max-width: 224px;
  }
  .footer__departments__group {
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 32px);
    min-height: 64px;
  }
  .footer__departments__group_3 {
    padding-top: 32px;
    flex-direction: row;
  }
  .footer__departments__apps {
    width: 224px;
  }
  .footer__logo {
    position: absolute;
    width: 100%;
    margin: 0 -28px;
    bottom: 42px;
    right: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__legal-information {
    min-width: 288px;
  }
  .footer__departments {
    flex-direction: row;
  }
  .footer__departments__group {
    flex-direction: column;
    max-height: 220px;
    width: calc(33.3333333333% - 32px);
  }
  .footer__departments__group_3 {
    padding-top: 0;
  }
}
@media screen and (min-width: 1920px) {
  .footer__legal-information {
    min-width: 498px;
  }
  .footer__departments__group {
    max-height: 200px;
  }
}
.container {
  margin: 0 auto;
  padding: 0 28px;
}
.container__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
}
.container__tariffs {
  max-width: 880px;
}

.header {
  height: auto;
  margin: 24px 0 0 0;
}
.header__header-top {
  margin-bottom: 0;
}
.header__header-button {
  display: none;
}

.tariffs {
  margin-bottom: 64px;
  padding-top: 32px;
}
.tariffs_title {
  margin-bottom: 66px;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.tariffs__ticket:not(:last-child) {
  margin-bottom: 32px;
}
.tariffs__ticket_img {
  margin-bottom: 16px;
}
.tariffs__ticket_position:not(:last-child) {
  margin-bottom: 32px;
}
.tariffs__ticket__description_title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}
.tariffs__ticket__description_text {
  font-size: 14px;
  line-height: 24px;
}
.tariffs__ticket_button {
  flex-shrink: 0;
  margin-top: 92px;
}
.tariffs__ticket_button_text {
  height: 52px;
  width: 100%;
  background-color: #D62828;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0 48px;
  }

  .tariffs_title {
    margin-bottom: 67px;
  }
  .tariffs__ticket_position {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .tariffs__ticket_position_top {
    display: flex;
    margin-bottom: 20px;
  }
  .tariffs__ticket_img {
    height: 100px;
    width: 160px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  .tariffs__ticket_button {
    margin-top: 0;
    height: 52px;
    width: 160px;
  }
}
@media screen and (min-width: 880px) {
  .container {
    padding: 0 72px;
  }
  .container__footer {
    display: flex;
  }

  .tariffs {
    margin-bottom: 72px;
    padding-top: 40px;
  }
  .tariffs_title {
    margin-bottom: 70px;
    font-size: 28px;
    line-height: 42px;
  }
  .tariffs__ticket_position {
    flex-direction: row;
    align-items: baseline;
  }
  .tariffs__ticket_position_top {
    padding-right: 32px;
  }
  .tariffs__ticket__description_title {
    font-size: 24px;
    line-height: 36px;
  }
  .tariffs__ticket__description_text {
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 176px;
  }
  .container__header, .container__tariffs, .container__footer {
    max-width: 1280px;
  }

  .tariffs_title {
    margin-bottom: 92px;
    font-size: 32px;
    line-height: 48px;
  }
  .tariffs__ticket_position {
    align-items: center;
  }
  .tariffs__ticket_img {
    height: 131px;
    width: 208px;
  }
  .tariffs__ticket__description_title {
    font-size: 28px;
    line-height: 42px;
  }
  .tariffs__ticket__description_text {
    font-size: 18px;
    line-height: 32px;
  }
  .tariffs__ticket_button {
    width: 128px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 340px;
  }
  .container__footer {
    max-width: 1980px;
  }

  .tariffs {
    margin-bottom: 127px;
  }
  .tariffs__ticket__description {
    max-width: 710px;
  }
  .tariffs__ticket_img {
    height: 180px;
    width: 286px;
  }
  .tariffs__ticket_button {
    width: 180px;
  }
  .tariffs__ticket_position {
    align-items: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
