<div class="main-history__item-list">
  <ul class="main-history__item-list__pages">
    <li><button class="main-history__item-list__pages_button"><img src="../../../../../../assets/images/angle-left.svg" alt="angle-left"></button></li>
    <li class="main-history__item-list__pages_page main-history__item-list__pages_page_selected">1</li> <!-- selected сделать id -->
    <li class="main-history__item-list__pages_page">2</li>
    <li class="main-history__item-list__pages_page">3</li>
    <li class="main-history__item-list__pages_page">4</li>
    <li class="main-history__item-list__pages_page">5</li>
    <li><button class="main-history__item-list__pages_button"><img src="../../../../../../assets/images/angle-right.svg" alt="angle-right"></button></li>
  </ul>
</div>
