.footer {
  background-color: #F5F5FE;
  padding: 32px 0;
}
.footer__legal-information {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__legal-information_copyright {
  max-width: 301px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Futura PT", sans-serif;
  font-weight: bold;
  font-weight: 600;
}
.footer__legal-information_title {
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #D62828;
}
.footer__legal-information_text {
  font-size: 14px;
  line-height: 20px;
}
.footer__legal-information_text_link {
  color: #D62828;
}
.footer__departments {
  font-family: Futura PT, sans-serif;
  color: #212121;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}
.footer__departments__group {
  min-height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(50% - 32px);
  margin: 0 16px;
}
.footer__departments__group_3 {
  min-height: 100%;
  padding-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__departments_department_title {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #212121;
  text-transform: uppercase;
  font-weight: 800;
}
.footer__departments_department_title:hover {
  color: #D62828;
}
.footer__departments_department_describtion {
  font-size: 14px;
  line-height: 20px;
}
.footer__departments__apps_app {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__departments__apps_app-store {
  width: 117.92px;
  height: 38.25px;
  margin-bottom: 16px;
  background-image: url("../../../assets/images/app-store.svg");
}
.footer__departments__apps_google-play {
  width: 135px;
  height: 40px;
  background-image: url("../../../assets/images/google-play.svg");
}
.footer__logo {
  height: 48px;
  background-image: url("../../../assets/images/footer-logo.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  margin-top: 26px;
}

@media screen and (min-width: 640px) {
  .footer__departments__group {
    min-height: 192px;
    width: calc(33.3333333333% - 32px);
  }
  .footer__departments__group_3 {
    padding-top: 0;
    flex-direction: column;
  }
}
@media screen and (min-width: 880px) {
  .container__footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
  }

  .footer {
    position: relative;
    padding: 48px 0;
  }
  .footer__legal-information {
    width: 288px;
    margin-right: 32px;
    justify-content: normal;
  }
  .footer__departments {
    width: 416px;
  }
  .footer__departments_department_title {
    min-width: 64px;
  }
  .footer__departments_department_description {
    max-width: 224px;
  }
  .footer__departments__group {
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 32px);
    min-height: 64px;
  }
  .footer__departments__group_3 {
    padding-top: 32px;
  }
  .footer__departments__apps {
    width: 118px;
  }
  .footer__logo {
    position: absolute;
    width: 100%;
    margin: 0 -28px;
    right: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .container__footer {
    min-width: 1280px;
  }

  .footer {
    padding: 64px 0;
  }
  .footer__legal-information {
    min-width: 288px;
  }
  .footer__departments {
    width: 608px;
    flex-direction: row;
  }
  .footer__departments__group {
    flex-direction: column;
    max-height: 220px;
    width: calc(33.3333333333% - 32px);
  }
  .footer__departments__group_3 {
    padding-top: 0;
  }
}
@media screen and (min-width: 1920px) {
  .container__footer {
    max-width: 1980px;
    padding: 0 340px;
  }

  .footer__legal-information {
    min-width: 498px;
  }
  .footer__departments {
    width: 710px;
  }
  .footer__departments__group {
    max-height: 200px;
  }
}

/*# sourceMappingURL=footer.component.css.map */
