<div class="filter">
  <h2 class="filter_h2">Фильтр</h2>
  <div class="filter__date">
    <div class="filter__date__title filter__title">
      <h3 class="filter__date__title_h3">Дата поездки</h3>
      <button class="filter__button" (click)="toShowDate()">
        <p class="filter__button_name">{{toggleDate}}</p>
        <img src="{{icon}}" alt="angle-up">
      </button>
    </div>
    <div class="filter__date__calendar" *ngIf="date">
      <p class="filter__date__calendar_name">Дата проезда</p>
      <button class="filter__date__calendar__button">
        <p class="filter__date__calendar__button_p">__.__.____</p>
        <img src="../../../../../assets/images/calendar.svg" alt="calendar">
      </button>
    </div>
  </div>
  <div class="filter__owner">
    <div class="filter__owner__title filter__title">
      <h3 class="filter__title_h3">Носитель</h3>
      <button class="filter__button" (click)="toShowCard()">
        <p class="filter__button_name">{{toggleCard}}</p>
        <img src="{{iconCard}}" alt="angle-up">
      </button>
    </div>
    <div class="filter__owner__carts" *ngIf="card">
      <div class="filter__owner__carts__cart">
        <input type="radio"  class="filter__owner__carts__cart_radio" id="filterRadio-1" name="cart-check" value="checked">
        <label for="filterRadio-1" class="filter__owner__carts__cart_content">
          <img src="../../../../../assets/images/filter-cart-blue.svg" alt="filter-cart-img" class="filter__owner__carts__cart_img">
          <div class="filter__owner__carts__cart__data">
            <p class="filter__owner__carts__cart__data_name">Моя тройка</p>
            <p class="filter__owner__carts__cart__data_number">1234 456 355</p>
          </div>
        </label>
        <!--                                        <img src="" alt="filter-cart-img" class="filter__owner__carts__cart_img">-->
        <!--                                        <div class="filter__owner__carts__cart__data">-->
        <!--                                            <p class="filter__owner__carts__cart__data_name">Моя тройка</p>-->
        <!--                                            <p class="filter__owner__carts__cart__data_name">1234 456 355</p>-->
        <!--                                        </div>-->
      </div>
      <div class="filter__owner__carts__cart">
        <input type="radio"  class="filter__owner__carts__cart_radio" id="filterRadio-2" name="cart-check" value="checked">
        <label for="filterRadio-2" class="filter__owner__carts__cart_content">
          <img src="../../../../../assets/images/filter-cart-orange.svg" alt="filter-cart-img" class="filter__owner__carts__cart_img">
          <div class="filter__owner__carts__cart__data">
            <p class="filter__owner__carts__cart__data_name">Студенческая</p>
            <div class="filter__owner__carts__cart__data_number_elements">
              <p class="filter__owner__carts__cart__data_number">1234 456 355</p>
              <p class="filter__owner__carts__cart__data_number filter__owner__carts__cart__data_date">08/21</p>
            </div>
          </div>
        </label>
      </div>
      <div class="filter__owner__carts__cart">
        <input type="radio"  class="filter__owner__carts__cart_radio" id="filterRadio-3" name="cart-check" value="checked" disabled="disabled">
        <label for="filterRadio-3" class="filter__owner__carts__cart_content filter__owner__carts__cart_content_disabled">
          <img src="../../../../../assets/images/filter-cart-purple.svg" alt="filter-cart-img" class="filter__owner__carts__cart_img">
          <div class="filter__owner__carts__cart__data">
            <p class="filter__owner__carts__cart__data_name">Карта москвича</p>
            <p class="filter__owner__carts__cart__data_number">Ожидает привязки</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <button class="filter__button-save">Сохранить</button>
  <!--      User name: <input type="text" [(ngModel)]="userName">-->
  <!--      <button (click)="search()">Search</button>-->
  <!--      <div *ngIf="response">-->
  <!--        <img src="{{response.avatar_url}}" alt="">-->
  <!--        <p>Name: {{response.login}}</p>-->
  <!--        <p>Repo: {{response.public_repos}}</p>-->
  <!--      </div>-->
</div>
