.container {
  margin: 0 auto;
  padding: 0 28px;
}

.filter {
  display: none;
}

.main-history {
  padding-top: 32px;
}
.main-history_title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.main-history__filter-button {
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 0 19px 0 16px;
}
.main-history__filter-button_p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Futura PT", sans-serif;
  font-weight: bold;
  font-weight: bold;
}
.main-history__days {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main-history__days__day:not(:last-child) {
  margin-bottom: 24px;
}
.main-history__days__day_title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Futura PT", sans-serif;
  font-weight: bold;
  color: #777777;
  font-weight: 500;
  margin-bottom: 8px;
}
.main-history__carts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.main-history__cart {
  padding: 16px;
  width: calc(100% - 16px);
  background-color: #F5F5FE;
  border-radius: 4px;
}
.main-history__cart:not(:last-child) {
  margin-bottom: 16px;
}
.main-history__cart_station {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.main-history__cart_title {
  font-size: 16px;
  line-height: 24px;
  font-family: "Futura PT", sans-serif;
  font-weight: bold;
  font-weight: 600;
}
.main-history__cart_price {
  font-size: 16px;
  line-height: 24px;
  font-family: "Futura PT", sans-serif;
  font-weight: bold;
  color: #D62828;
  font-weight: 600;
}
.main-history__cart_date {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}
.main-history__cart_cart-name {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #D62828;
  font-weight: 600;
}
.main-history__cart_cart-number {
  font-size: 14px;
  line-height: 20px;
}
.main-history__cart:not(:last-child) {
  margin-bottom: 16px;
}
.main-history__item-list {
  cursor: pointer;
}
.main-history__item-list__pages {
  padding: 24px 0 64px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-history__item-list__pages_button {
  cursor: pointer;
  height: 32px;
  width: 32px;
  background: none;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  font-size: 16px;
  color: #777777;
}
.main-history__item-list__pages_button:hover {
  color: #D62828;
}
.main-history__item-list__pages_page {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}
.main-history__item-list__pages_page:hover {
  background-color: #F5F5F5;
}
.main-history__item-list__pages_page_selected {
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0 48px;
  }

  .main-history__cart:not(:last-child) {
    margin-bottom: 24px;
  }
  .main-history__item-list {
    min-width: 192px;
    max-width: 328px;
  }
}
@media screen and (min-width: 880px) {
  .container {
    max-width: 880px;
    padding: 0 72px;
  }
  .container__filter {
    display: flex;
  }
  .container__footer {
    display: flex;
    max-width: 880px;
  }

  .filter {
    margin-right: 56px;
    min-width: 288px;
    display: block;
  }
  .filter__button {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
  }
  .filter__button_name {
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
    color: #D62828;
    font-weight: 600;
  }
  .filter_h2 {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .filter__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .filter__title_h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  .filter__date {
    margin-bottom: 24px;
  }
  .filter__date__title_h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
  .filter__date__calendar {
    display: flex;
    flex-direction: column;
  }
  .filter__date__calendar_name {
    padding-left: 12px;
    margin-bottom: 6px;
    font-weight: 500;
  }
  .filter__date__calendar__button {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px 0 12px;
    background: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
  }
  .filter__date__calendar__button_p {
    font-size: 14px;
    line-height: 20px;
  }
  .filter__date__calendar__button_icon {
    color: #777777;
    font-size: 16px;
  }
  .filter__owner {
    margin-bottom: 32px;
  }
  .filter__owner__title {
    margin-bottom: 16px;
  }
  .filter__owner__carts__cart {
    cursor: pointer;
  }
  .filter__owner__carts__cart_img {
    padding: 0 16px;
  }
  .filter__owner__carts__cart:hover {
    background-color: #F5F5FE;
  }
  .filter__owner__carts__cart_content {
    width: 100%;
    height: 60px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 288px;
    cursor: pointer;
  }
  .filter__owner__carts__cart_content_disabled {
    background-color: #E5E5E5;
    padding-left: 38px;
  }
  .filter__owner__carts__cart__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 194px;
  }
  .filter__owner__carts__cart__data_name {
    font-size: 16px;
    line-height: 24px;
    font-family: "Futura PT", sans-serif;
    font-weight: bold;
    font-weight: 600;
  }
  .filter__owner__carts__cart__data_number {
    font-size: 14px;
    line-height: 20px;
    color: #777777;
  }
  .filter__owner__carts__cart__data_number_elements {
    display: flex;
    justify-content: space-between;
  }
  .filter__owner__carts__cart__data_date {
    padding-left: 20px;
  }
  .filter__owner__carts__cart_radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .filter__owner__carts__cart_radio:disabled + label:before {
    display: none;
  }
  .filter__owner__carts__cart_radio:checked + label::before {
    border-color: #D62828;
    background-color: #D62828;
    background-image: url(../../../assets/images/filter-check.svg);
  }
  .filter__owner__carts__cart_radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: rgba(214, 40, 40, 0.65);
  }
  .filter__owner__carts__cart_radio:not(:disabled):active + label::before {
    background-color: rgba(214, 40, 40, 0.65);
    border-color: rgba(214, 40, 40, 0.65);
  }
  .filter__owner__carts__cart_radio:focus:not(:checked) + label::before {
    border-color: #80bdff;
  }
  .filter__owner__carts__cart_radio:disabled + label::before {
    background-color: #e9ecef;
  }
  .filter__owner__carts__cart_radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .filter__owner__carts__cart_radio + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .filter__button-save {
    width: 100%;
    height: 52px;
    background-color: #D62828;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 600;
  }

  .main-history-page {
    padding-top: 32px;
  }

  .main-history {
    padding-top: 0;
    grid-area: mh;
  }
  .main-history__cart {
    width: 416px;
  }
  .main-history_title {
    font-size: 28px;
    line-height: 42px;
  }
  .main-history__filter-button {
    display: none;
  }
  .main-history__days__day_title {
    margin-bottom: 4px;
  }
  .main-history__item-list__pages {
    padding: 32px 0 72px 0;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 176px;
  }
  .container__footer {
    max-width: 1280px;
  }

  .main-history-page {
    padding-top: 48px;
  }

  .filter {
    width: 289px;
    margin-right: 112px;
  }
  .filter_h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .filter__date__title_h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .filter__title {
    margin-bottom: 16px;
  }
  .filter__title_h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .filter__owner__carts__cart__data {
    min-width: 279px;
  }

  .main-history {
    width: 448px;
  }
  .main-history_title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .main-history__item-list__pages {
    padding: 48px 0 128px 0;
  }
  .main-history__cart {
    width: 448px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 340px;
  }
  .container__footer {
    max-width: 1980px;
  }

  .filter {
    width: 392px;
    margin-right: 138px;
  }
  .filter__owner__carts__cart__data {
    max-width: 268px;
  }

  .main-history {
    max-width: 498px;
  }
  .main-history__cart {
    width: 498px;
  }
}

/*# sourceMappingURL=history.component.css.map */
