<footer class="footer">
  <div class="container container__footer">
    <div class="footer__legal-information">
      <p class="footer__legal-information_copyright">ГУП «Московский метрополитен» 1935 — 2019 ©</p>
      <h4 class="footer__legal-information_title">Правовая информация</h4>
      <p class="footer__legal-information_text">Посещая сайт <a class="footer__legal-information_text_link" href="#">www.mosmetro.ru</a> Вы даете согласие на обработку файлов cookie, сбор которых осуществляется ГУП «Московский метрополитен» на условиях <a class="footer__legal-information_text_link" href="#">Политики обработки файлов cookie</a>. Метрополитен также может использовать указанные данные для их последующей обработки системами Яндекс.Метрика и др., которая осуществляется с целью функционирования сайта <a class="footer__legal-information_text_link" href="#">www.mosmetro.ru</a>.</p>
    </div>
    <div class="footer__departments">
      <div class="footer__departments__group footer__departments__group_1">
        <div class="footer__departments_department">
          <a href="#" class="footer__departments_department_title">MOS.RU</a>
          <p class="footer__departments_department_description">Правительство Москвы</p>
        </div>
        <div class="footer__departments_department">
          <a href="#" class="footer__departments_department_title">DT.MOS.RU</a>
          <p class="footer__departments_department_description">Департамент транспорта и развития дорожно-транспортной инфраструктуры</p>
        </div>
      </div>
      <div class="footer__departments__group footer__departments__group_2">
        <div class="footer__departments_department">
          <a href="#" class="footer__departments_department_title">MINTRANS.RU</a>
          <p class="footer__departments_department_description">Министерство Транспорта Российской Федерации</p>
        </div>
        <div class="footer__departments_department">
          <a href="#" class="footer__departments_department_title">MOSGORTRANS.RU</a>
          <p class="footer__departments_department_description">Государственное унитарное предприятие Мосгортранс</p>
        </div>
      </div>
      <div class="footer__departments__group footer__departments__group_3">
        <div class="footer__departments_department">
          <a href="#" class="footer__departments_department_title">TRANSPORT.MOS.RU</a>
          <p class="footer__departments_department_description">Московский Транспорт </p>
        </div>
        <div class="footer__departments__apps">
          <a href="#" class="footer__departments__apps_app footer__departments__apps_app-store"></a>
          <a href="#" class="footer__departments__apps_app footer__departments__apps_google-play"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__logo"></div>
</footer>
