<ul class="list">
  <li class="item">
    <a target="_blank" class="title" href="#">mos.ru</a>
    <div class="description_default">Правительство Москвы</div>
  </li>
  <li class="item">
    <a target="_blank" class="title" href="#">mintrans.ru</a>
    <div class="description_default">Министерство <br class="br"> Транспорта <br class="br"> Российской Федерации</div>
  </li>
  <li class="item">
    <a target="_blank" class="title" href="#">dt.mos.ru</a>
    <div class="description_default">Департамент транспорта и <br class="br">развития дорожно-транспортной инфраструктуры</div>
  </li>
  <li class="item">
    <a target="_blank" class="title" href="#">mosgortrans.ru</a>
    <div class="description_default">Государственное унитарное предприятие Мосгортранс</div>
  </li>
  <li class="item">
    <a target="_blank" class="title" href="#">transport.mos.ru</a>
    <div class="description_default">Московский Транспорт</div>
  </li>
  <li class="item">
    <div class="app_store_google_play_block">
      <a href="#" class="app_store img_wrap">
        <img alt="" class="img" src="assets/images/app-store.svg">
      </a>
      <a href="#" class="app_store img_wrap">
        <img alt="" class="img" src="../../../assets/images/google-play.svg">
      </a>
    </div>
  </li>
</ul>
